@font-face {
    font-family: GRBookItalic;
    src:url(../fonts/gotham-rounded/GothamRounded-BookItalic.otf);
}
@font-face {
    font-family: GRBold;
    src:url(../fonts/gotham-rounded/GothamRoundedBold_21016.ttf);
}
@font-face {
    font-family: GRBook;
    src:url(../fonts/gotham-rounded/GothamRoundedBook_21018.ttf);
}
@font-face {
    font-family: GRMedium;
    src:url(../fonts/gotham-rounded/GothamRoundedMedium_21022.ttf);
}

html {
    box-sizing: border-box;
    
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	
}

.main-header {
	background: url(../image/Background.png) no-repeat;
	background-position: center center;
	background-size: cover;
	min-height: 853px;
}

.wrapper {
	height: 853px;
	width: 1260px;
	margin: 0 auto;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-height: 130px;
	padding-top: 85px;
}

.logo {
	margin: 0;
	text-decoration: none;
	color: white;
	font-family: GRBook;
}

h1 {
	font-size: 31.02px;
	letter-spacing: -1.5px;
	color: white;
	margin: 0;
	font-weight: 300;
	padding-left: 29px;
}

.logo-bold {
	font-family: GRBold;
}

.logo-sign {
	padding-left: 32px;
	display: block;
	font-size: 11.63px;
	letter-spacing: 8px;
}

.nav-menu {
    padding: 0;
    margin: 0 12px 5px 0;
    display: flex;
}

.nav-menu .nav-list {
    list-style-type: none;
    margin-right: 24px;
}
.nav-list:last-child {
    margin-right: 0;
}

.nav-link {
	text-decoration: none;
	color: white;
    font-family: GRMedium;
    font-size: 14px;
}
.active {
	border-top: 4px solid #4acaff;
	padding-top: 10px;
}

.header-form-box {
	width: 960px;
	min-height: 211px;
	margin: 220px auto;
	position: relative;
}

.header-form-title {
	font-family: GRBookItalic;
	font-size: 55px;
	letter-spacing: -2.7px;
	color: white;
	margin: 0;
}

.input-job {
	margin-top: 41px;
	width: 737px;
	height: 50px;
	border: none;
	border-radius: 3px;
	font-family: GRBookItalic;
	font-size: 18px;
	color: #e2e2e2;
	padding-left: 20px;
	box-shadow: 0px 4px 0px 0px #e2e2e2;
}
.input-job:focus {
	color: black;
}
.input-search {
	width: 140px;
	height: 50px;
	margin-left: 79px;
	padding-left: 35px;
	border: none;
	border-radius: 3px;
	background: url(../image/search.png) no-repeat;
	background-position: 25px center;
	background-color: #4acaff;
	box-shadow: 0px 4px 0px 0px #3baedd;
	font-family: GRBookItalic;
	font-size: 20px;
	color: white;
	cursor: pointer;

}
.input-checkbox {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
	margin-top: 38px;
	width: 15px;
	height: 15px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 2px 0px 0px #e2e2e2;
	cursor: pointer;
}

.input-checkbox:checked {
	background-color: black;
}
.label-checkbox {
	padding-left: 11px;
	font-family: GRBookItalic;
	font-size: 13px;
	color: white;
	cursor: pointer;
}
#checkbox2 {
	margin-left: 28px;
}
.header-select {
	position: relative;
	width: 247px;
	height: 37px;
	border-radius: 3px;
	margin-left: 141px;
	padding-left: 17px;
	font-family: GRBook;
	font-size: 16px;
	color: black;
	opacity: 0;
	cursor: pointer;
}

.label-select {
	margin-top: 28px;
	position: absolute;
	width: 247px;
	height: 37px;
	border-radius: 3px;
	margin-left: 141px;
	padding-left: 17px;
	padding-top: 12px;
	background: url(../image/line.png) no-repeat;
	background-position: 212px 13px;
	background-color: #ffffff;
	font-family: GRBookItalic;
	font-size: 13px;
	color: grey;
}

.section-info {
	min-height: 594px;
	background-color: #f5f5f5;
	color: #585858;

}
.div-info {
	height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
	padding-top: 100px;

}
.section-title {
	font-family: GRBookItalic;
	font-size: 30px;
	margin: 0;
	font-weight: 100;
}

.section-title-book {
	font-family: GRBook;
	font-size: 45px;
	margin: 15px 0 0 0;
	font-weight: 500;

}
.mini-separator {
	margin-top: 44px;
	margin-bottom: 31px;
	width: 138px;
	height: 5px;
	background-color: #4acaff;
}
.text {
	font-family: GRBook;
	font-size: 18px;
	text-align: center;
	white-space: pre;
	margin: 0 0 0 15px;
}

.section-link {
	text-decoration: none;
	border: 2px solid #4acaff;
	border-radius: 6px;
	font-family: GRMedium;
    font-size: 15px;
    color: #4acaff;
    padding: 21px 30px;
    margin-top: 77px;
    margin-bottom: 98px;
    transition: .4s ease-in-out;
}
.section-link:hover {
	color: #0f0d6c;
	border-color: #0f0d6c;
	transition: .4s ease-in-out;
}

.separator {
	height: 7px;
	background: url(../image/separator_one.png);
	-webkit-background-size: cover;
	background-size: cover;
}

.section-subscription {
	min-height: 450px;
	background-color: #131c25;
}
.section-form-box {
	height: 100%;
}
.section-form {
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin: 0 auto;
}
.section-form-title {
	font-family: GRBook;
    font-size: 18px;
    color: white;
    margin: 159px 0 0 1px;
    font-weight: 100;
    }
.input-email {
	margin-top: 34px;
	margin-bottom: 174px;
	font-family: GRBookItalic;
    font-size: 14px;
    color: white;
    padding-left: 22px;
    border: none;
    border: 2px solid #4acaff;
    height: 55px;
    width: 364px;
    border-radius: 6px;
    background-color: transparent;
}
.form-submit {
	display: none;
}

.submit-label {
	position: absolute;
    margin-top: 235px;
    right: 12px;
}
.main-footer {
	height: 186px;
	background-color: #f5f5f5;
}
.footer-div {
	width: 1260px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-left: 151px;
	padding-top: 66px;
}
.footer-address {
	position: relative;
	display: flex;
}
.footer-link {
	text-decoration: none;
	font-family: GRMedium;
    font-size: 14px;
    color: #7a7a7a;
    font-style: normal;
    padding-left: 34px;
}

.footer-text {
	font-family: GRBook;
    font-size: 14px;
    color: #7a7a7a;
    margin-top: 26px;
}

.footer-text-medium {
	font-family: GRMedium;
    font-size: 14px;
    color: #7a7a7a;
    padding-left: 2px;
}

.sprite {
    background-image: url(../image/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-mail-icon {
    width: 21px;
    height: 17px;
    background-position: -5px -5px;
    position: absolute;
    left: 0px;
 
}   
.sprite-mail-icon1 {
    width: 16px;
    height: 13px;
    background-position: -5px -32px;
    margin-right: 10px;
    cursor: pointer;
}



